@model PJ_.Net_Restaurant.Models.Story

<h2 class="headline-1 section-title">@Model.name</h2>

<p class="section-text">
    @Model.content
</p>

<div class="contact-label">Book Through Call</div>

<a href="tel:" + @Model.phonenum class="body-1 contact-number hover-underline">@Model.phonenum</a>

<a href="@Model.link" class="btn btn-primary">
    <span class="text text-1">Read More</span>

    <span class="text text-2" aria-hidden="true">Read More</span>
</a>

</div>

<figure class="about-banner">

    <img src="~/Uploads/images/@Model.imgbanner" width="570" height="570" loading="lazy" alt="about banner"
         class="w-100" data-parallax-item data-parallax-speed="1">

    <div class="abs-img abs-img-1 has-before" data-parallax-item data-parallax-speed="1.75">
        <img src="~/Uploads/images/@Model.img1" width="285" height="285" loading="lazy" alt=""
             class="w-100">
    </div>

    <div class="abs-img abs-img-2 has-before">
        <img src="~/Uploads/images/@Model.img2" width="133" height="134" loading="lazy" alt="">
    </div>

</figure>

<img src=" ~ /Upl