@model IEnumerable<PJ_.Net_Restaurant.Models.Food>

@foreach (var i in Model)
{
    <li>
        <div class="menu-card hover:card">

            <figure class="card-banner img-holder" style="--width: 100; --height: 100;">
                <img style="width: 100px !important; height: 100px !important;" src="~/Uploads/images/@i.img" width="100" height="100" loading="lazy" alt="@i.name"
                     class="img-cover">
            </figure>

            <div>

                <div class="title-wrapper">
                    <h3 class="title-3">
                        <a href="@i.link" class="card-title">@i.name</a>
                    </h3>

                    @if (i.type != "")
                    {
                        <span class="badge label-1">@i.type</span>
                    }
                    <span class="span title-2">$@i.price</span>
                </div>

                <p class="card-text label-1">
                    @i.describe
                </p>

            </div>

        </div>
    </li>
}
